<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="logo-container">
        <img
            src="https://waseel.s3.amazonaws.com/Waseel+New+logo.png"
            alt="Waseel Logo"
            class="logo"
        />
    </div>
    <div class="card">
        <div class="checkmark-circle">
            <i class="checkmark">✓</i>
        </div>
        <h1>Form Submitted Successfully!</h1>
        <p>Thank you for submitting your application.</p>

        <button (click)="logout()">Logout</button>
    </div>
</body>
</html>
