<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Applicant Form</title>
    <style>
      body {
        font-family: "Roboto", sans-serif;
        background-color: #ffffff;
        color: #333;
      }

      .error {
        color: red;
      }

      .form-group {
        margin-bottom: 24px;
      }

      label {
        display: block;
        font-weight: 600;
        margin-bottom: 8px;
        color: #1f2993; /* Hex color added */
      }

      input[type="text"],
      input[type="date"],
      input[type="email"],
      input[type="file"],
      select,
      input[type="checkbox"] {
        width: 90%;
        padding: 12px;
        margin-top: 4px;
        border: 1px solid #1f2993; /* Hex color added */
        border-radius: 4px;
      }

      input[type="checkbox"] {
        appearance: none;
        width: 24px;
        height: 24px;
        background-color: #fff;
        border: 1px solid #1f2993;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
      }

      input[type="checkbox"]:checked {
        background-color: #1f2993;
      }

      input[type="checkbox"]:checked::after {
        content: "\2713";
        font-size: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
      }

      h2 {
        font-size: 1.8em;
        margin-bottom: 16px;
        color: #1f2993; /* Hex color added */
      }

      button {
        background-color: #1f2993; /* Hex color added */
        color: #fff;
        padding: 12px 24px;
        margin: 0px 0px 0px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
      }

      button:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }

      .flex-button-container {
        display: flex;
        justify-content: flex-end;        /*gap: 20px; /* This will add space between the buttons */
        margin: 20px 20px;
        padding: 0px 25px; /* Optional: add some top margin */
      }

      .material-icons {
        margin-right: 8px;
      }

      .required {
        color: red;
      }

      
    </style>
  </head>
  <body>
    <div class="logo-container">
      <img
        src="https://waseel.s3.amazonaws.com/Waseel+New+logo.png"
        alt="Waseel Logo"
        class="logo"
      />
    </div>
    <div class="container" *ngIf="form">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <!-- Personal Information Card -->
        <div class="card">
          <h2>Personal Information</h2>

          <div formGroupName="personalInfo">
          <div class="form-group">
            <label for="fullName">Full Name:<span class="required"> *</span></label>
            <input type="text" id="fullName" formControlName="fullName" />
            <div *ngIf="form.get('personalInfo.fullName')?.invalid && formSubmitted">
              <small *ngIf="form.get('personalInfo.fullName')?.errors?.['required']">This field is required.</small>
              <small *ngIf="form.get('personalInfo.fullName')?.errors?.['pattern']">Please enter a valid name.</small>
            </div>            
          </div>
    
          <div class="form-group">
            <label for="nationality">Nationality:<span class="required"> *</span></label>
            <input type="text" id="nationality" formControlName="nationality" />
            <div *ngIf="form.get('personalInfo.nationality')?.invalid && formSubmitted">
              <small *ngIf="form.get('personalInfo.nationality')?.errors?.['required']">This field is required.</small>
              <small *ngIf="form.get('personalInfo.nationality')?.errors?.['pattern']">Please enter a valid nationality.</small>
            </div>
          </div>
          
          <div class="form-group">
            <label for="gender">Gender:<span class="required"> *</span></label>
            <select id="gender" formControlName="gender" required>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="form-group">
            <label for="bloodType">Blood Type:<span class="required"> *</span></label>
            <select id="bloodType" formControlName="bloodType" required>
              <option value="A_POSITIVE">A+</option>
              <option value="A_NEGATIVE">A-</option>
              <option value="B_POSITIVE">B+</option>
              <option value="B_NEGATIVE">B-</option>
              <option value="AB_POSITIVE">AB+</option>
              <option value="AB_NEGATIVE">AB-</option>
              <option value="O_POSITIVE">O+</option>
              <option value="O_NEGATIVE">O-</option>
            </select>
          </div>
          <div class="form-group">
            <label for="martialStatus">Marital Status:<span class="required"> *</span></label>
            <select
              id="martialStatus"
              name="martialStatus"
              formControlName="martialStatus"
              required
            >
              <option value="Single">Single</option>
              <option value="Married">Married</option>
            </select>
          </div>
          <!-- <div class="form-group">
            <label for="experienceLetters">Do you have work experience?</label>
            <select id="experienceLetters" formControlName="experienceLetters" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
          </div> -->
          </div>
        </div>

        <!-- Address Information Card -->
        <div class="card">
          <h2>Address Information</h2>

          <div formGroupName="addressInfo">
          <div class="form-group">
            <label for="addressLine">Address Line:<span class="required"> *</span></label>
            <input
              type="text"
              id="addressLine"
              formControlName="addressLine"
              required
            />
          </div>
          <div class="form-group">
            <label for="country">Country:<span class="required"> *</span></label>
            <input
              type="text"
              id="country"
              formControlName="country"
              required
            />
          </div>
          <div class="form-group">
            <label for="city">City:<span class="required"> *</span></label>
            <input type="text" id="city" formControlName="city" required />
          </div>
          <div class="form-group">
            <label for="zipCode">Zip Code:<span class="required"> *</span></label>
            <input
              type="text"
              id="zipCode"
              formControlName="zipCode"
              required
            />
          </div>
          <div class="form-group">
            <label for="additionalCode">Additional Code:<span class="required"> *</span></label>
            <input
              type="text"
              id="additionalCode"
              formControlName="additionalCode"
              required
            />
          </div>
          <div class="form-group">
            <label for="mobileNumber">Mobile Number:<span class="required"> *</span></label>
            <input
              type="text"
              id="mobileNumber"
              formControlName="mobileNumber"
              required
            />
          </div>
          <div class="form-group">
            <label for="emailAddress">Email:<span class="required"> *</span></label>
            <input
              type="email"
              id="emailAddress"
              formControlName="emailAddress"
              required
            />
          </div>
          </div>
        </div>

        <!-- National Identity Card -->
        <div class="card">
          <h2>National Identity</h2>

          <div formGroupName="nationalIdentity">
          <div class="form-group">
            <label for="idNumber">ID Number:<span class="required"> *</span></label>
            <input
              type="text"
              id="idNumber"
              formControlName="idNumber"
              required
            />
          </div>
          <div class="form-group">
            <label for="expiryDate">Expiry Date:<span class="required"> *</span></label>
            <input
              type="date"
              id="expiryDate"
              formControlName="expiryDate"
              required
            />
          </div>
          <div class="form-group">
            <label for="placeOfIssue">Place of Issue:<span class="required"> *</span></label>
            <input
              type="text"
              id="placeOfIssue"
              formControlName="placeOfIssue"
              required
            />
          </div>
          <div class="form-group">
            <label for="dateOfBirth">Date of Birth:<span class="required"> *</span></label>
            <input
              type="date"
              id="dateOfBirth"
              formControlName="dateOfBirth"
              required
            />
          </div>
          <div class="form-group">
            <label for="placeOfBirth">Place of Birth:<span class="required"> *</span></label>
            <input
              type="text"
              id="placeOfBirth"
              formControlName="placeOfBirth"
              required
            />
          </div>
          </div>
        </div>

        <!-- Dependents Section -->
        <div class="card">
          <h2>Dependents Information</h2>
          <div formArrayName="dependents">
            <div *ngFor="let dependent of dependents.controls; let i = index">
              <div [formGroupName]="i">
                <div class="form-group">
                  <label for="dependentName">Name:<span class="required"> *</span></label>
                  <input
                    type="text"
                    id="dependentName"
                    formControlName="name"
                  />
                </div>
                <div class="form-group">
                  <label for="dependentKinship">Kinship:<span class="required"> *</span></label>
                  <input
                    type="text"
                    id="dependentKinship"
                    formControlName="kinship"
                  />
                </div>
                <div class="form-group">
                  <label for="dependentDateOfBirth">Date of Birth:<span class="required"> *</span></label>
                  <input
                    type="date"
                    id="dependentDateOfBirth"
                    formControlName="dateOfBirth"
                  />
                </div>
                <div class="flex-button-container">
                  <button type="button" (click)="removeDependent(i)">
                    Remove
                  </button>
                  <button type="button" (click)="addDependent()">
                    Add More
                  </button>
                </div>
              </div>
            </div>
            <!-- <div class="flex-button-container">
              <button type="button" (click)="addDependent()">Add More</button>
            </div> -->
          </div>
        </div>

        <div class="card">
        <!-- Emergency Contacts Section -->
          <h2>In case of emergency, please contact</h2>
          <div formArrayName="emergencyContacts">
            <div *ngFor="let contact of emergencyContacts.controls; let i = index">
              <div [formGroupName]="i">
                <div class="form-group">
                  <label for="contactName">Name:<span class="required"> *</span></label>
                  <input type="text" id="contactName" formControlName="name" />
                </div>

                <div class="form-group">
                  <label for="contactKinship">Kindship:<span class="required"> *</span></label>
                  <input
                    type="text"
                    id="contactKinship"
                    formControlName="kinship"
                  />
                </div>

                <div class="form-group">
                  <label for="contactPhoneNumber">Phone Number:<span class="required"> *</span></label>
                  <input
                    type="text"
                    id="contactPhoneNumber"
                    formControlName="phoneNumber"
                  />
                </div>

                <div class="flex-button-container">
                  <button type="button" (click)="removeEmergencyContact(i)">
                    Remove
                  </button>
                  <button type="button" (click)="addEmergencyContact()">
                    Add More
                  </button>
                </div>
              </div>
            </div>
            <!-- <div class="flex-button-container">
              <button type="button" (click)="addEmergencyContact()">
                Add More
              </button>
            </div> -->
          </div>
        </div>

        <!-- Attachments Card -->

        <!-- File Uploads -->
        <div class="card">
          <h2>Attachments</h2>

          <div class="form-group">
            <label for="cv">CV:<span class="required"> *</span></label>
            <input
              type="file"
              name="attachments"
              id="cv"
              (change)="onUploadFile($event, 'cv')"
              accept=".pdf,.jpg,.png,.jpeg"
              required
            />
          </div>

          <!-- <div
          *ngIf="form.get('personalInfo')?.get('experienceLetters')?.value === 'Yes'"
        > -->
          <div class="form-group">
            <label for="experienceLetters">Previous Experience Letters (if there):</label>
            <input
              type="file"
              name="attachments"
              id="experienceLetters"
              (change)="onUploadFile($event, 'experienceLetters')"
              accept=".pdf,.jpg,.png,.jpeg"
              
            />
          </div>
        <!-- </div> -->

          <div class="form-group">
            <label for="educationalCertificates"
              >Educational Certificates:<span class="required"> *</span></label
            >
            <input
              type="file"
              name="attachments"
              id="educationalCertificates"
              (change)="onUploadFile($event, 'educationalCertificates')"
              accept=".pdf,.jpg,.png,.jpeg"
              required
            />
          </div>

          <div class="form-group">
            <label for="personalPhoto">Personal Photo:<span class="required"> *</span></label>
            <input
              type="file"
              name="attachments"
              id="personalPhoto"
              (change)="onUploadFile($event, 'personalPhoto')"
              accept=".pdf,.jpg,.png,.jpeg"
              required
            />
          </div>

          <div class="form-group">
            <label for="idCopy">Copy of your ID:<span class="required"> *</span></label>
            <input
              type="file"
              name="attachments"
              id="idCopy"
              (change)="onUploadFile($event, 'idCopy')"
              accept=".pdf,.jpg,.png,.jpeg"
              required
            />
          </div>

          <div class="form-group">
            <label for="nationalAddress">National Address:<span class="required"> *</span></label>
            <input
              type="file"
              name="attachments"
              id="nationalAddress"
              (change)="onUploadFile($event, 'nationalAddress')"
              accept=".pdf,.jpg,.png,.jpeg"
              required
            />
          </div>

          <div class="form-group">
            <label for="bankAccount">Your Bank Account:<span class="required"> *</span></label>
            <input
              type="file"
              name="attachments"
              id="bankAccount"
              (change)="onUploadFile($event, 'bankAccount')"
              accept=".pdf,.jpg,.png,.jpeg"
              required
            />
          </div>

          <div
          *ngIf="form.get('personalInfo')?.get('martialStatus')?.value === 'Married'"
        >
          <div class="form-group">
            <label for="familyCard">Your Family Card:</label>
            <input
              type="file"
              name="attachments"
              id="familyCard"
              (change)="onUploadFile($event, 'familyCard')"
              accept=".pdf,.jpg,.png,.jpeg"
              
            />
          </div>
        </div>
        </div>

        <!-- Recognition Card -->
        <div class="card">
          <h2>Recognition</h2>

          <div class="form-group">
            <label for="recognitionAcknowledged">
              I acknowledge that the above information is correct and does not
              contain any decrease or increase from the truth, and the company
              has the absolute right to take whatever it deems appropriate in
              the event that what I have stated is incorrect, or not to inform
              me of any future Amendment, and therefore I sign.
            </label>
            <input
              type="checkbox"
              id="recognitionAcknowledged"
              formControlName="recognitionAcknowledged"
            />
          </div>
          <div style="display: flex; justify-content: end;">
          <button
            type="submit"
            [disabled]="!(form.get('recognitionAcknowledged')?.value ?? false)"
          >
            Submit
          </button></div>
        </div>
      </form>
    </div>

   
  </body>
</html>
